*{
padding: 0;
margin: 0;
font-family: Tahoma, sans-serif;
box-sizing: border-box;
}
body{
    background-color: rgb(3, 11, 22);
    margin: 20px;
    padding: 20px;

}
.head{
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 20px;
}
.image{
    /* display: flex; */
    font-family: Bungee, cursive;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: space-between; */
    
}
img{
    position: relative;
    left: 100%;
    bottom: 25%;
    border-radius: 150px;
}
.logo{
    color:white;
    font-size: 25px;
    letter-spacing: 4px;
    cursor: pointer;
}
span{
    color: rgb(42, 169, 174);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 25px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}

li :hover{
    text-decoration: underline;
    color: aqua;
    font-size: 20px;
}

#link :hover{
    font-size: 40px;
    text-decoration: none;
}

.btn{
    background-color: crimson;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
#link:hover,.btn:hover{
    transform :scale(1.2);

}
.content{
    position:absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.content h1{
    position: relative;
    color: white;
    margin: 20px 0px 20px;
    font-size: 55px;
    bottom: 10%;

}
.content .name:hover{
    transition-duration: 0.4s;
    color: #336bda;
    transform: scale(1.2);
}
.about,.collatz,.neurons{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: lightgrey;
    font-size: 20px;
    width: 70%;
    padding: 30px;
    margin: 30px;
    align-items: normal;
    bottom : 400px;
    left: 60px;

}

.about :hover{
    transition: transform .2s;
    transition-duration: 2.10s;
    width: 70%;  
}

#resume,h4,.collatz,.neurons{
    position: relative;
    align-items: center;
    bottom: 400px;
    padding: 10 20px;
    margin: 60px;
}

#resume,h2,h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

#portfolio{
    position: relative;
    margin-left: -130px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    
}

.collatz, .neurons{
    flex-grow: 10;
    flex-basis: 20px;
    color: white;
    background-color: rgb(27, 4, 34);

}